BACKEND_PORT=8787
DATABASE_URL=file:../prisma/dev.db
STELLAR_NETWORK=stellar:testnet
STELLAR_RPC_URL=https://soroban-testnet.stellar.org
STELLAR_RECIPIENT=YOUR_G_ADDRESS
FACILITATOR_URL=https://channels.openzeppelin.com/x402/testnet
USDC_SAC=CBIELTK6YBZJU5UP2WWQEUCYKLPU6AUNZ2BQ4WWFEIE3USCIHMXQDAMA
CONTRACT_ID=CAHDIQSSYTWVUE7XDCINPX2J52QBJ44VUO77LUJHXWEEFBJB7BBQCO6E
